<<<<<<< HEAD
body {
	font-family: 'Open Sans', sans-serif;
}
=======
/* @font-face {
    font-family: 'OpenSans';
    src: url(../fonts/OpenSans.ttf);
}
li {
    font-family: 'OpenSans';

}
*/

>>>>>>> 97ac84c2cd4d60b04cb1c93c831d08c2cf84cae0
