body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 26px;
	color:#7581a1;
}

h1 {
	font-size: 80px;
	font-weight: 700;
	color: #192b59;
}
.nav {
	font-size: 12px;
	font-weight: 800;
	text-transform: uppercase;
	color: #6e7ea9;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
.btn-primary {
	background-color: #1085e4;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	padding: 20px 40px;
	border-radius: 30px;
	border: 1px solid #1085e4;
	letter-spacing: 2.6px;
}
.btn-primary:hover {
	background-color: #fff;
	color: #1085e4;
}
.btn-secondary {
	background-color: #cbdbe8;
	border: 1px solid #cbdbe8;
	color: #7e8bae;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	padding: 20px 40px;
	border-radius: 30px;
	letter-spacing: 2.6px;
}
.btn-secondary:hover {
	background-color: #fff;
	
}

.btn-free {
	font-weight: 400;
	padding: 21px 57px;
    letter-spacing: 1.7px;
}
.btn-group a + a {
	margin-left: 15px;
}	
	
}
.grid h2 {
	font-size: 40px;
	font-weight: 700;
	color: #192b59;
}
.grid h2 span {
	font-size: 14px;
	font-weight: 800;
	color: #1085e4;
	display: block;
}
.grid-item h3 {
	font-size: 20px;
	font-weight: 600;
	color: #192b59;
}
.grid-item a {
	font-size: 14px;
	font-weight: 600;
	color: #1085e4;


}